{{define "main"}}
<h1>Dice Sets</h1>
<ul>
    {{range .}}
        <li>
            <a role="button" href="/dice/view-set?set_id={{.ID}}">{{.Name}}</a>
            <button hx-delete="/dice/delete-set?set_id={{.ID}}" hx-target="closest li" hx-swap="outerHTML">Delete</button>
        </li>
    {{end}}
</ul>

<h2>Add Set</h2>
<form action="/dice/add-set" method="POST">
    <input name="name" placeholder="Name" required>
    <button type="submit">Add</button>
</form>
{{end}}
